*{
    font-family: Helvetica;
    color:#fff;
}

a{
    text-decoration: none;
}

input{
  color: black;
}

.card {
  max-width: 450px;
  height: 450px;
  margin: 0 auto;
  position: relative;
  background: rgba(255, 255, 255, 0); 
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.card-title {
  margin: 0;
}

.card-body{
  display: flex;
  flex-direction: column;
  justify-content: center; 
}

.card button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: rgb(241, 154, 154);
  border:rgb(241, 154, 154) ;
}